@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #efdece;
    background-size: cover;
    background-repeat: no-repeat;
}
.Registrasi {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #efdece;
    background-size: cover;
    background-repeat: no-repeat;
}
